<h2>
  <span>GENERATOR / No. <%= @quote.id %></span>
  <br />
  <br />
  <span>The <u>best advice</u> you can get!</span>
</h2>
<br />
<br />
<br />

<h1><%= @quote.saying %></h1>
<h2>- <%= @quote.author %></h2>